<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li style="line-height:30px"><a href="http://android-developers.blogspot.co.uk/" target="_blank" title="Android Developers Blog">Android Developers Blog</a></li>

      <li style="line-height:30px"><a href="http://androidweekly.net/" target="_blank" title="Android Weekly">Android Weekly</a></li>

      <li style="line-height:30px"><a href="http://hukai.me/android-training-course-in-chinese/index.html" target="_blank" title="Android官方培训课程中文版">Android课程中文版</a></li>

       <li style="line-height:30px"><a href="https://chaosleong.gitbooks.io/gradle-for-android/content/" target="_blank" title="Gradle Android Plugin">Gradle Android Plugin Guide</a></li>
    </ul>
</div>
